*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}

body{
    font-family: 'Karla', sans-serif;
    background-color: $light-gray;
    padding: 3.2rem;
}
ul li {
    list-style-type: none;
}