
// Colors

// Primary

$cyan: hsl(179, 62%, 43%);
$light-cyan: hsl(179, 62%, 55%);

$bright-yellow: hsl(71, 73%, 54%);

//Neutral

$light-gray: hsl(204, 43%, 93%);
$grayish-blue: hsl(218, 22%, 67%);

// Font
/*
- Family: [Karla](https://fonts.google.com/specimen/Karla)
- Weights: 400, 700
*/

@import 'general';
@import 'card';
@import 'mediaquery'